*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: url(bground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    
    display: flex;
    justify-content: space-between;
    padding: 25px;
    align-items: center ;
}

.nav ul{
    display: flex;
    list-style: none;
    gap: 25px;
    color: black;
    line-height: 8px;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav a{
    text-decoration: none;
    color: black;
    transition: color 0.2s ease-in-out;
}

.nav a:hover{
    color: yellowgreen;
}
.logo p{
    color: white;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 40px;
    font-weight: 800;
}


.logo img {
   width: 70px;
   border-radius: 50%;
}

.logo {
  overflow: hidden;
  height: 60px;
  width: 300px;
  display: flex;
  

 }

 .auth div{
    margin: 0 20px;
    height: 50px;
    width: 100px;
    padding: 5px;
    font-size: 18px;
    padding-top: 12px;
   
}

.auth button{
    border: 1px solid black;
    border-radius: 15px;
    transition: all 0.2s ease-in-out ;

}

.sign-up:hover{
    background-color: rgb(255, 255, 255);
}
.sign-up{
    background-color: #4caf4f00;
}

#login-in{
    background-color:rgb(255, 255, 255);
}

#login-in:hover{
    background-color: #4caf4f00;
}
main{
    display: grid;
    grid-template-columns: 1fr 70%;
    height: 70vh;
   }

aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aside-head{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: color 0.2s ease-in-out ;
}
 
.aside-head p:hover{
    color: #02f70ae1;
}

.aside-search-bar{
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    transition: all 0.3s ease-in-out ;
}

.search-container:hover{
    transform: scale(1.2);
}

.aside-search-bar input{
    width: 80%;
    height: 40px;
    padding-left: 10px;
    border-radius: 20px 0 0 20px;
    border: 1px solid black;
    border-right: none;
}

.aside-search-bar a{
    text-decoration: none;
    color: rgb(10, 63, 209);
    

}



.aside-search-bar p{
    font-size: 16px;
}

.aside-details{
    height: 35%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: flex-end;
}

.aside-details-p{
   list-style: 8px;
   font-size: 30px;
   font-weight: 500;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.asidep1{
    line-height: 40px;
    font-size: 35px;
    font-weight: bold;
    color: #ffffffee;
}

.asidep2{
    line-height: 40px;
    font-size: 45px;
    color: #ffffffee;
}

.aside-p{
    line-height: 40px;
    font-size: 25px;
    color: #ffffffee;
    padding-left: 20px;
    font-weight: bold;
}

.search-container {
 display: flex;
 width: 350px;
}

.search-button {
  border-radius: 0 20px 20px 0 ;
  border: solid 1px black;
  background-color: orange;
  width: 60px;
}

.aside-img  {
   display: flex;
   justify-content: space-around;
}

.aside-img img{
   width: 35%;
   border-radius: 10px;
   margin: 15px 0 ;
}

.aside-img img:hover {
    cursor: pointer;
}
.article-description-p{
   display: flex;
   justify-content: center;
   padding-top: 20px;
   font-size: 22px;
   color: white;
}

.article-image{
   display: flex;
   align-items: center;
   justify-content: space-around;
   height: 420px;
   padding-top: 40px;
   transition: transform 0.7s cubic-bezier(0.25, 0.45, 0.45, 1.5);
}

.article-image img:hover{
    transform: scale(1.2);
}

.article-image img{
   border-radius: 15px;
}

footer{
    height: 125px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

.footer1 ul {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.footer2 {
    height: 100%;
    width: 40%;
}

.footer2-up{
    height: 50%; 
    display: flex;
    align-items: end;
    padding-bottom: 10px;
}

.footer2-down{
    width: 100%;
    height: 50%;

}

#footer2-down-inp{
    width: 350px;
    height: 30px;
    background-color: #7bfa05e3;
    border: solid 1px #000000e3;
    padding-left: 20px;
}

#footer2-down-btn{
    border-radius:0%;
    height: 30px;
    margin: 0;
    border: solid 1px #000;
    background-color: rgb(0, 252, 0);
    padding: 0 15px;    
}